@media screen and (min-width:200px) {
    main{
        padding: 60px 70px;
        gap: 26px;
    }
    p{
        font-size: 1.2em;
    }
    .botao{
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    body h1{
       font-size: 2em;
    }
}

@media screen and (min-width:700px){
    main{
        width: 50%;
        padding: 40px 70px 40px 70px;
        
    }
    .botao{
        flex-direction: row;
        padding-top: 4%;
        gap: 10px;
        padding-bottom: 4%;
    }
    p{
        font-size: 1.5em;
    }
    body h1{
        font-size: 4em;
    }
}