@media screen and (min-width:200px) {
    main{
        padding: 60px 70px;
        gap: 26px;
    }
    p{
        font-size: 1.2em;
    }
    body h1{
       font-size: 2.5em;
    }
}

@media screen and (min-width:700px){
    main{
        width: 500px;
        padding: 40px 70px 40px 70px;
        
    }
    p{
        font-size: 1.5em;
    }
    body h1{
        font-size: 4em;
    }
}